body {
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin:0;
}
a {
  text-decoration: none;
  color: black;

}
.header {
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}
.content {
  max-width: 962px;
  margin: 0 auto;
  padding-left: 87px;
  padding-right: 87px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
button {
  border: 1px solid #e0e0e0;
  background-color: white;
  font-size: 12px;
  border-radius: 2px;
  padding: 14px 20px;
}
.basket {
  padding-left: 16px;
  vertical-align: middle;
}
input {
  width: 100%;
  border: 0;
  color: #B0B0B0;
  opacity: 50%;
  padding-top: 24px;
  margin-top: 32px;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #B0B0B0;
  background-color: white;
}
h2 {
  font-size: 22px;
  font-weight: 400;
}

.catalog-header {
  margin-top: 56px;
}
.catalog-img-Mac {
  width: 308px;
  height: 256px;
  background-image: url(Mac.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-text {
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 4px;
}
.catalog-text p:nth-child(2) {
font-size: 14px;
opacity: 0.5;
}
.catalog-text p:nth-child(3) {
  font-size: 13px;
}
.catalog-img-DimSum {
    width: 308px;
    height: 256px;
    background-image: url(DimSum.png);
    background-size: cover;
    font-size: 16px;
    font-weight: 400;
}
.catalog-img-DvizOk {
  width: 308px;
  height: 256px;
  background-image: url(DvizOk.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.card {
display: flex;
justify-content: space-between;
}
.catalog-img-nha {
  width: 308px;
  height: 256px;
  background-image: url(nha.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-img-Dzi {
  width: 308px;
  height: 256px;
  background-image: url(Dzi.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-img-cinnabon {
  width: 308px;
  height: 256px;
  background-image: url(cinnabon.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-img-pizze {
  width: 308px;
  height: 256px;
  background-image: url(pizze.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-img-zю {
  width: 308px;
  height: 256px;
  background-image: url(Zю.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.catalog-img-bar {
  width: 308px;
  height: 256px;
  background-image: url(bar.png);
  background-size: cover;
  font-size: 16px;
  font-weight: 400;
}
.footer {
  background-color: black;
  position: relative;
}
.footer-logo {
  height: 20px;
  padding-top: 56px;
}
.footer-header {
  height: 116px;
}
.line {
  border-top: 1px solid #ffffff;
  opacity: 40%;
}
.nav {
  color:white;
  font-size: 13px;
  font-weight: 400;
}
li {
 list-style-type: none;
 padding-bottom: 23px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.footer-content {
  height: 220px;
}
.footer-list-1 {
  display: inline-flex;
  justify-content: space-between;
  padding-right: 128px;
  vertical-align: top;
}
.footer-list-2 {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: top;
}
.footer-element{
  display: inline-flex;
  justify-content: space-between;
  padding-right: 97px;
  vertical-align: middle;
}
.footer-img {
  text-align: center;
  height: 120px;
}
.app {
  margin-right: 41px;
  padding-top: 41px;
}
.footer-block .nav {
  font-size: 11px;
  padding-top: 40px;
  padding-bottom: 53px;
}
.footer-block li {
  display: inline;
  padding-right: 150px;
}
/* css для page2 */
.header-page2 {
  background-image: url(photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 364px;
}
.header-block-page2 {
background-color: white;
width: 389px;
height: 204px;
margin-left:81px;
position: absolute;
margin-top: 81px;
}
h1 {
  margin: 0;
  padding-top: 38px;
  padding-left: 38px;
  font-size: 36px;
  font-weight: 400;
}
.header-block-text-page2 p {
display: inline-block;
font-size: 14px;
padding-left: 38px;
color: #626262;
}
.header-block-text-page2 button {
  display: inline-block;
  margin-top: 62px;
  margin-left: 90px;
  background-color: black;
  border-radius: 16px;
  color: white;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  }
  .conteiner {
    height: 80px;
  }
  .conteiner li {
    color: black;
    display: inline;
    padding-right: 40px;
    font-size: 16px;
  }
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1124px;
  }
  .green {
    color: #327430;
  }
  .header-line {
    border-bottom: 2px solid #F1F1F1FF;
  }
  .food-main {
    width: 470px;
    height: 160px;
    background-color: #F9F9F9FF;
    display:inline-block;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 49px;
    box-shadow: 1px 1px 0 #EAEAEAFF inset, -1px -1px 0 #EAEAEAFF inset;
  }
  .food {
    width: 470px;
    height: 160px;
    background-color: white;
    display:inline-block;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 49px;
    box-shadow: 1px 1px 0 #EAEAEAFF inset, -1px -1px 0 #EAEAEAFF inset;
  }
  .food-img {
    display: inline-block;
    float: right;
  }
  .food-describe {
    display: inline-block;
    padding-left: 16px;
    align-content: space-between;
  }
  .price {
    font-size: 15px;
    font-weight: 700;
  }
  .price-kind p {
    font-size: 15px;
    font-weight: 700;
    padding-top: 58px;
  }
  .price p {
    padding-top:83px;
  }

  .describe p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    margin:0;
  }
  .describe-2 p{
    font-size: 13px;
    font-weight: 400;
    color:#626262
  }
  .left {
    margin-right:3px;
  }
  .button-up button {
background-color: #327430;
border: none;
width: 80px;
height: 80px;
position: absolute;
left: 1028px;
bottom: 45px;
  }
  .button-up span {
    color: white;
    font-size: 40px;
  }
  .button-up a {
    color: white;
  }